html {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* height: 100vh; */
  font-size: 20px;
}

html * {
  padding: 1.2rem;
}

.firstChild {
  width: 50vw;
  border: 3px solid white;
  background: transparent;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  margin: 0 auto;
}

li {
  list-style: none;
  font-size: 2rem;
  color: cyan;
  text-align: left;
}

a{
  text-decoration: none;
  color: white;
  font: large;
}
